* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background-image: url("./Image/background.jpg"); 
    height: 100vh;   
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    align-items: center;
    height: 100%;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 4;
}

.panel {
    grid-column-start: 6;
    grid-column-end: 13;
    border: solid 1px;
    border-radius: 2%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    background-color: white;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1px;
}

.accQuestion {
    color: gray;
    margin-top: 0;
    margin-bottom: 16px;
}

.input {
    margin-bottom: 20px;
}

.input > label {
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    padding-bottom: 4px;
}

.input > input {
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    padding: 10px;
    border: 2px solid #EEE;
    border-radius: 5px;
}

.name {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 6px)); 
    gap: 12px;
}

.birthHeader {
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}

.dropDown > select {
    box-sizing:border-box;
    width: 100%;
    padding: 10px;
    border: 2px solid #EEE;
    border-radius: 5px;
    padding-bottom: 7px;
}

.dropDown > label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

.birthNested {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
}

.birthNested > .dropdown {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 32px;
    margin-bottom: 8px;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    align-items: center;
}

.birthNested > .birthDay {
    grid-column-start: 2;
    grid-column-end: 3;
}

.birthNested > .birthYear {
    grid-column-start: 3;
    grid-column-end: 4;
}

.agreement {
    padding-bottom: 16px;
}

button {
    margin: 32px;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px 24px;
    background-color: #24A0ED;
    border-radius: 8px;
    cursor:pointer;
}
